/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 body {
   background: #37474F;
 }

.sidebar {
  background: #607D8B;
color:#F5F5F5;

}
.sidebar_inner {
min-height: 100vh;
}

.sidebar h4 {
  color: #F5F5F5;
}

.sidebar p {
  color:#E0E0E0;
}

.sidebar label {
  color: #E0E0E0;
}

.content {


}

.content_inner {
  padding-top: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.logo {
}

.logo-img {
  width:100%;
}



.score-box {
  background: #E1F5FE;
  padding: 1em;
  margin-bottom: 1em;
}

.score-box h4 {
  color: #F5F5F5;
  background: #03A9F4;
  padding: 0.5em;
}


.score-box-expanded {
}

.btn {
  background: #03A9F4;
}

.btn:hover {
  background: #0277BD;
}

.hexagon {
  position: relative;
  width: 128px;
  height: 73.90px;
  background-color: #0277BD;
  margin: 36.95px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 36.95px solid #0277BD;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 36.95px solid #0277BD;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
