.fixed { position: fixed;}

.collapsible-body {
background:#E1F5FE;
}

body {
background: #37474F;
}

.sidebar {
background: #607D8B;
color:#F5F5F5;

}
.sidebar-inner {
min-height: 100vh;
}

.sidebar h4 {
color: #F5F5F5;
}

.sidebar p {
color:#E0E0E0;
}

.sidebar label {
color: #E0E0E0;
}

.content-inner {
padding-top: 1em;
padding-left: 0.3em;
padding-right: 0.3em;
}

.logo {
padding-left:10px;
padding-right:10px;
}

.logo-img {
width:100%;
margin-top:18px;
}

.btn {
background: #03A9F4;
}

.btn:hover {
background: #0277BD;
}

nav ul a,
nav .brand-logo {
color: #444;
}

p {
line-height: 2rem;
}

.score {
font-weight: 600;
}

.collapsible-body-settings{
background: #37474F !important;
padding:8px;
}

.zero-padding{
padding: 0px !important;
}

